repos:
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        language: system
        types: [ go ]
      - id: error groups
        name: error groups
        entry: ./tools/linter_error_groups.sh
        language: system
        types: [ go ]
      - id: go routines
        name: go routines
        entry: ./tools/linter_go_routines.sh
        language: system
        types: [ go ]
      - id: swagger
        name: swagger
        entry: ./tools/gen-code-from-swagger.sh
        language: system
        types: [ go ]
  -   repo: https://github.com/psf/black
      rev: 24.2.0
      hooks:
        -   id: black
