version: '3.8'
services:
  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./local-grafana-config/datasources:/etc/grafana/provisioning/datasources
      - ./local-grafana-config/dashboards:/etc/grafana/provisioning/dashboards
      - ./local-grafana-config/dashboard-files:/var/lib/grafana/dashboards
    extra_hosts:
      - "host.docker.internal:host-gateway"
