# coding: utf-8

"""
    GSI Floating-Point 32 API

    **Introduction**<br> GSI Technology’s floating-point similarity search API provides an accessible gateway to running searches on GSI’s Gemini® Associative Processing Unit (APU).<br> It works in conjunction with the GSI system management solution which enables users to work with multiple APU boards simultaneously for improved performance.<br><br> **Dataset and Query Format**<br> Dataset embeddings can be in 32- or 64-bit floating point format, and any number of features, e.g. 256 or 512 (there is no upper limit).<br> Query embeddings must have the same floating-point format and number of features as used in the dataset.<br> GSI performs the search and delivers the top-k most similar results.  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BoardsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def controllers_allocation_controller_create_predefined_allocation(self, body, **kwargs):  # noqa: E501
        """Create a freemium session  # noqa: E501

        Creates a context and imports and loads default datasets and queries for a freemium session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_allocation_controller_create_predefined_allocation(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PredefinedAllocationRequest body: (required)
        :return: StatusOkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_allocation_controller_create_predefined_allocation_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_allocation_controller_create_predefined_allocation_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def controllers_allocation_controller_create_predefined_allocation_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a freemium session  # noqa: E501

        Creates a context and imports and loads default datasets and queries for a freemium session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_allocation_controller_create_predefined_allocation_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PredefinedAllocationRequest body: (required)
        :return: StatusOkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_allocation_controller_create_predefined_allocation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `controllers_allocation_controller_create_predefined_allocation`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/allocation/predefined/create', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StatusOkResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_boards_controller_create_context(self, body, **kwargs):  # noqa: E501
        """Allocate board/s according to GSI-Resource-Manager's request  # noqa: E501

        Allocate one or more boards according to GSI-Resource-Manager's request  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_create_context(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContextRequest body: (required)
        :return: ContextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_boards_controller_create_context_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_boards_controller_create_context_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def controllers_boards_controller_create_context_with_http_info(self, body, **kwargs):  # noqa: E501
        """Allocate board/s according to GSI-Resource-Manager's request  # noqa: E501

        Allocate one or more boards according to GSI-Resource-Manager's request  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_create_context_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ContextRequest body: (required)
        :return: ContextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_boards_controller_create_context" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `controllers_boards_controller_create_context`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/board/allocation/context', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ContextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_boards_controller_deallocate(self, body, allocation_token, **kwargs):  # noqa: E501
        """Deallocate board/s.  # noqa: E501

        Deallocate an existing allocation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_deallocate(body, allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DeallocateRequest body: (required)
        :param str allocation_token: (required)
        :return: StatusOkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_boards_controller_deallocate_with_http_info(body, allocation_token, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_boards_controller_deallocate_with_http_info(body, allocation_token, **kwargs)  # noqa: E501
            return data

    def controllers_boards_controller_deallocate_with_http_info(self, body, allocation_token, **kwargs):  # noqa: E501
        """Deallocate board/s.  # noqa: E501

        Deallocate an existing allocation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_deallocate_with_http_info(body, allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DeallocateRequest body: (required)
        :param str allocation_token: (required)
        :return: StatusOkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'allocation_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_boards_controller_deallocate" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `controllers_boards_controller_deallocate`")  # noqa: E501
        # verify the required parameter 'allocation_token' is set
        if ('allocation_token' not in params or
                params['allocation_token'] is None):
            raise ValueError("Missing the required parameter `allocation_token` when calling `controllers_boards_controller_deallocate`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'allocation_token' in params:
            header_params['allocationToken'] = params['allocation_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/board/deallocate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StatusOkResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_boards_controller_get_allocation_by_id(self, allocation_id, allocation_token, **kwargs):  # noqa: E501
        """Get the list of the allocations with the loaded datasets.  # noqa: E501

        The API returns information for the allocations with the corresponding loaded datasets includes the load params(neural hash id, topk, etc.).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_get_allocation_by_id(allocation_id, allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str allocation_id: The UID representing an allocation of a specific number of APU boards. It is generated using the  /allocate endpoint. (required)
        :param str allocation_token: (required)
        :return: GetAllocationsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_boards_controller_get_allocation_by_id_with_http_info(allocation_id, allocation_token, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_boards_controller_get_allocation_by_id_with_http_info(allocation_id, allocation_token, **kwargs)  # noqa: E501
            return data

    def controllers_boards_controller_get_allocation_by_id_with_http_info(self, allocation_id, allocation_token, **kwargs):  # noqa: E501
        """Get the list of the allocations with the loaded datasets.  # noqa: E501

        The API returns information for the allocations with the corresponding loaded datasets includes the load params(neural hash id, topk, etc.).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_get_allocation_by_id_with_http_info(allocation_id, allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str allocation_id: The UID representing an allocation of a specific number of APU boards. It is generated using the  /allocate endpoint. (required)
        :param str allocation_token: (required)
        :return: GetAllocationsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['allocation_id', 'allocation_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_boards_controller_get_allocation_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'allocation_id' is set
        if ('allocation_id' not in params or
                params['allocation_id'] is None):
            raise ValueError("Missing the required parameter `allocation_id` when calling `controllers_boards_controller_get_allocation_by_id`")  # noqa: E501
        # verify the required parameter 'allocation_token' is set
        if ('allocation_token' not in params or
                params['allocation_token'] is None):
            raise ValueError("Missing the required parameter `allocation_token` when calling `controllers_boards_controller_get_allocation_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'allocation_id' in params:
            path_params['allocation_id'] = params['allocation_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'allocation_token' in params:
            header_params['allocationToken'] = params['allocation_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/board/allocation/list/{allocation_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetAllocationsListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_boards_controller_get_allocations(self, allocation_token, **kwargs):  # noqa: E501
        """Get the list of the allocations with the loaded datasets.  # noqa: E501

        The API returns information for the allocations with the corresponding loaded datasets includes the load params(neural hash id, topk, etc.).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_get_allocations(allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str allocation_token: (required)
        :return: GetAllocationsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_boards_controller_get_allocations_with_http_info(allocation_token, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_boards_controller_get_allocations_with_http_info(allocation_token, **kwargs)  # noqa: E501
            return data

    def controllers_boards_controller_get_allocations_with_http_info(self, allocation_token, **kwargs):  # noqa: E501
        """Get the list of the allocations with the loaded datasets.  # noqa: E501

        The API returns information for the allocations with the corresponding loaded datasets includes the load params(neural hash id, topk, etc.).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_get_allocations_with_http_info(allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str allocation_token: (required)
        :return: GetAllocationsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['allocation_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_boards_controller_get_allocations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'allocation_token' is set
        if ('allocation_token' not in params or
                params['allocation_token'] is None):
            raise ValueError("Missing the required parameter `allocation_token` when calling `controllers_boards_controller_get_allocations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'allocation_token' in params:
            header_params['allocationToken'] = params['allocation_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/board/allocation/list/ids', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetAllocationsListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_boards_controller_get_allocations_list(self, allocation_token, **kwargs):  # noqa: E501
        """Get the list of the allocations with the loaded datasets.  # noqa: E501

        The API returns information for the allocations with the corresponding loaded datasets includes the load params(neural hash id, topk, etc.).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_get_allocations_list(allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str allocation_token: (required)
        :return: GetAllocationsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_boards_controller_get_allocations_list_with_http_info(allocation_token, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_boards_controller_get_allocations_list_with_http_info(allocation_token, **kwargs)  # noqa: E501
            return data

    def controllers_boards_controller_get_allocations_list_with_http_info(self, allocation_token, **kwargs):  # noqa: E501
        """Get the list of the allocations with the loaded datasets.  # noqa: E501

        The API returns information for the allocations with the corresponding loaded datasets includes the load params(neural hash id, topk, etc.).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_get_allocations_list_with_http_info(allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str allocation_token: (required)
        :return: GetAllocationsListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['allocation_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_boards_controller_get_allocations_list" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'allocation_token' is set
        if ('allocation_token' not in params or
                params['allocation_token'] is None):
            raise ValueError("Missing the required parameter `allocation_token` when calling `controllers_boards_controller_get_allocations_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'allocation_token' in params:
            header_params['allocationToken'] = params['allocation_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/board/allocation/list', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetAllocationsListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_boards_controller_is_valid(self, body, **kwargs):  # noqa: E501
        """AllocationID validation according to list of allocationID  # noqa: E501

        Send allocationId and response will return if it is valid or not  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_is_valid(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IsValidRequest body: (required)
        :return: IsValidResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_boards_controller_is_valid_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_boards_controller_is_valid_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def controllers_boards_controller_is_valid_with_http_info(self, body, **kwargs):  # noqa: E501
        """AllocationID validation according to list of allocationID  # noqa: E501

        Send allocationId and response will return if it is valid or not  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_boards_controller_is_valid_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IsValidRequest body: (required)
        :return: IsValidResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_boards_controller_is_valid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `controllers_boards_controller_is_valid`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/board/allocation/validate', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IsValidResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
