# coding: utf-8

"""
    GSI Floating-Point 32 API

    **Introduction**<br> GSI Technology’s floating-point similarity search API provides an accessible gateway to running searches on GSI’s Gemini® Associative Processing Unit (APU).<br> It works in conjunction with the GSI system management solution which enables users to work with multiple APU boards simultaneously for improved performance.<br><br> **Dataset and Query Format**<br> Dataset embeddings can be in 32- or 64-bit floating point format, and any number of features, e.g. 256 or 512 (there is no upper limit).<br> Query embeddings must have the same floating-point format and number of features as used in the dataset.<br> GSI performs the search and delivers the top-k most similar results.  # noqa: E501

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DatasetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def controllers_dataset_controller_get_train_status(self, dataset_id, allocation_token, **kwargs):  # noqa: E501
        """Get the status of a training for given dataset  # noqa: E501

        Get the status of a training for given dataset  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_dataset_controller_get_train_status(dataset_id, allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dataset_id: Dataset UID identifies the specific dataset to use. It is generated using the /import/dataset endpoint. (required)
        :param str allocation_token: (required)
        :return: GetTrainStatusResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_dataset_controller_get_train_status_with_http_info(dataset_id, allocation_token, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_dataset_controller_get_train_status_with_http_info(dataset_id, allocation_token, **kwargs)  # noqa: E501
            return data

    def controllers_dataset_controller_get_train_status_with_http_info(self, dataset_id, allocation_token, **kwargs):  # noqa: E501
        """Get the status of a training for given dataset  # noqa: E501

        Get the status of a training for given dataset  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_dataset_controller_get_train_status_with_http_info(dataset_id, allocation_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dataset_id: Dataset UID identifies the specific dataset to use. It is generated using the /import/dataset endpoint. (required)
        :param str allocation_token: (required)
        :return: GetTrainStatusResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dataset_id', 'allocation_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_dataset_controller_get_train_status" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dataset_id' is set
        if ('dataset_id' not in params or
                params['dataset_id'] is None):
            raise ValueError("Missing the required parameter `dataset_id` when calling `controllers_dataset_controller_get_train_status`")  # noqa: E501
        # verify the required parameter 'allocation_token' is set
        if ('allocation_token' not in params or
                params['allocation_token'] is None):
            raise ValueError("Missing the required parameter `allocation_token` when calling `controllers_dataset_controller_get_train_status`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dataset_id' in params:
            path_params['dataset_id'] = params['dataset_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'allocation_token' in params:
            header_params['allocationToken'] = params['allocation_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/dataset/train/status/{dataset_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetTrainStatusResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def controllers_dataset_controller_set_train_status_to_ip(self, dataset_id, **kwargs):  # noqa: E501
        """Update the status of a training for given dataset  # noqa: E501

        Update the status of a training for given dataset  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_dataset_controller_set_train_status_to_ip(dataset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dataset_id: Dataset UID identifies the specific dataset to use. It is generated using the /import/dataset endpoint. (required)
        :return: StatusOkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.controllers_dataset_controller_set_train_status_to_ip_with_http_info(dataset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.controllers_dataset_controller_set_train_status_to_ip_with_http_info(dataset_id, **kwargs)  # noqa: E501
            return data

    def controllers_dataset_controller_set_train_status_to_ip_with_http_info(self, dataset_id, **kwargs):  # noqa: E501
        """Update the status of a training for given dataset  # noqa: E501

        Update the status of a training for given dataset  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.controllers_dataset_controller_set_train_status_to_ip_with_http_info(dataset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dataset_id: Dataset UID identifies the specific dataset to use. It is generated using the /import/dataset endpoint. (required)
        :return: StatusOkResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dataset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method controllers_dataset_controller_set_train_status_to_ip" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dataset_id' is set
        if ('dataset_id' not in params or
                params['dataset_id'] is None):
            raise ValueError("Missing the required parameter `dataset_id` when calling `controllers_dataset_controller_set_train_status_to_ip`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dataset_id' in params:
            path_params['dataset_id'] = params['dataset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/dataset/train/setstatusip/{dataset_id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StatusOkResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
