git+https://github.com/weaviate/weaviate-python-client.git@aa7388b53ba38eaefa1e83e198e26d88aa1194a3

pytest>=8.0.1,<9.0.0
pytest-xdist==3.6.1
pytest-benchmark==4.0.0

black>=24.2.0,<25.0.0
loguru>=0.7.2

numpy==2.1.2
