global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'weaviate-node-1'
    static_configs:
      - targets: ['host.docker.internal:2112']
        labels:
          instance: 'node-1'
  - job_name: 'weaviate-node-2'
    static_configs:
      - targets: ['host.docker.internal:2113']
        labels:
          instance: 'node-2'
  - job_name: 'weaviate-node-3'
    static_configs:
      - targets: ['host.docker.internal:2114']
        labels:
          instance: 'node-3'
  - job_name: 'node'
    scrape_interval: 15s
    static_configs:
      - targets:
        - host.docker.internal:9100
